<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE html>
<html lang="{{ app.request.getLocale()| escape( 'html_attr' ) }}" xml:lang="{{ app.request.getLocale()| escape( 'html_attr' ) }}">
    <head>
        <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=.8, minimum-scale=.8, maximum-scale=.8" />
		{% block meta %}{% endblock %}
        <title>{% block title %}William Holland School of Lapidary Arts{% endblock %}</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico')| escape( 'html_attr' ) }}" />
		<link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico')| escape( 'html_attr' ) }}" />
		<link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png')| escape( 'html_attr' ) }}"/>
		{% block links %}{% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
		<h1 class="nocontent">{{ block('title') }}</h1>
		{% if app.request.attributes.get('_route' ) != 'login' %} 
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<a href="">{{ app.user.username }}</a>
				<form method="POST" action="{{ path( 'logout' )| escape( 'html_attr' ) }}">
					<input type="submit" value="{{ 'user.logout'| trans| escape( 'html_attr' ) }}" />
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('logout')| escape( 'html_attr' ) }}" />
				</form>
			{% else %}
				<form action="{{ path( 'login' )| escape( 'html_attr' ) }}" method="GET">
					<input type="submit" value="{{ 'user.login'| trans| escape( 'html_attr' ) }}" />
				</form>
			{% endif %}
		{% endif %}
		{% include 'flash.html.twig'  with { flashmessages: { 'error': app.session.flashbag.get( 'error' ), 'warning': app.session.flashbag.get( 'warning' ), 'help': app.session.flashbag.get( 'help' ), 'information': app.session.flashbag.get( 'information' ), 'success': app.session.flashbag.get( 'success' ) } } %}
		{% block flashmessages %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
